/* Aplicación de los nuevos colores y estilos */

/* Establecer fuente global */
body {
    font-family: Arial, sans-serif;
    background-color: #495254;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Estilo de botones */
button {
    background-color: #FFD24C;
    color: #495254;
    font-family: Arial Bold, sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #FFBA42;
    color: #FFFFFF;
}

/* Estilo de contenedores */
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Estilo de encabezados */
h1 {
    color: #FFD24C;
    font-size: 36px;
    font-weight: bold;
}

p {
    font-size: 18px;
    color: #FFFFFF;
}

/* Estilo del footer */
footer {
    background-color: #222222;
    color: #FFFFFF;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
