/* Estilo general */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    color: #FFE786; /* Dorado */
    text-align: center; /* Asegura que todo esté centrado */
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

/* Fondo para la ventana emergente */
.background-emergente {
    background: url('/static/images/emergente.png') no-repeat center center;
    background-size: cover; /* Cubre toda la pantalla */
    background-attachment: fixed;
    background-color: #1F3B5C; /* Azul oscuro */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fondo para la ventana de agradecimiento */
.background-gracias {
    background-color: #366E73; /* Gris oscuro */
    color: #FFE786; /* Dorado para el texto */
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Fondo para las demás ventanas */
.background-ventas {
    background: url('/static/images/fondoventas.png') no-repeat center center;
    background-size: cover; /* Cubre toda la pantalla */
    background-attachment: fixed;
    background-color: #1F3B5C; /* Azul oscuro */
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Alinea elementos en columna */
    justify-content: center; /* Centra elementos verticalmente */
    align-items: center; /* Centra elementos horizontalmente */
}

/* Contenedor principal */
.container {
    background-color: rgba(34, 34, 34, 0.6); /* Gris oscuro con transparencia */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

/* Logo */
.logo {
    max-width: 120px;
    margin: 0 auto 20px;
    display: block;
}

/* Botones */
button {
    font-family: 'Arial Bold', sans-serif;
    font-weight: 900;  /* Hace las letras más gruesas */
    background-color: #FFE786; /* Dorado */
    color: #1F3B5C; /* Azul oscuro */
    border: none;
    padding: 15px 30px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    width: 80%; /* Ajusta el ancho para que sean uniformes */
    max-width: 300px;
    box-shadow: 0px 5px 15px #366E73; /* Sombra encima del botón */
}

button:hover {
    background-color: #FFD700; /* Un dorado más fuerte */
    transform: translateY(-2px); /* Eleva el botón al pasar el mouse */
    box-shadow: 0px 7px 20px #366E73; /* Sombra más intensa al pasar el mouse */
}

/* Pie de página */
footer {
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
    color: #FFD700;
    position: absolute;
    bottom: 10px; /* Ajusta el valor según sea necesario */
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #FFE786; /* Mantén el color adecuado */
}

/* Eliminar subrayado de los enlaces */
a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color de texto definido por el botón */
}

h1 {
    color: #FFFFFF; /* Blanco óptico */
    font-family: 'Arial Bold', sans-serif;
    font-weight: 900;
}
