<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/static/styles.css">
    <style>
        .emergente-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #001f3f;
        }

        .emergente-container img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 10px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
        }
    </style>
    <script>
        // Redirigir automáticamente a la página principal después de 2 segundos
        setTimeout(function () {
            window.location.href = "/";
        }, 2000);
    </script>
</head>
<body>
    <div class="emergente-container">
        <img src="/static/images/emergente.jpg" alt="Bienvenido">
    </div>
</body>
</html>
